.scorebox {
  margin-top: 2px;
  margin-bottom: 8px;
}
.visualization {
}
.svg-line,
.svg-circle {
}

.w100 {
  width: 100% !important;
}
.btn.w100 {
  text-align: left;
}
.w0 {
  width: auto !important;
}

.text-0 {
        color: #f20606;
}
.text-1 {
        color: #245aa9;
}
.text-2 {
        color: #36af48;
}
.text-3 {
        color: #ff00ff;
}

.scrollpane {
  height:400px;
  overflow-y: scroll;
}

.punter-fixed {
  width: 9em;
  display: inline-block;
}
